@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
}
a{
    color: lightgray;
    text-decoration: none;
}
.nav{
    background-color: grey;
    border: solid 2px white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.nav-title{
}
.nav-links{
    list-style: none;
    display: flex;
    align-items:center;
    gap:20px
}
.active{
    color: white;
}
.btn{
    color: white;
    background-color: teal;
    border: solid 2px black;
    box-shadow: 10px 5px 5px black;
}
