*{
    margin: 0px;
    padding: 0px;
}
.main-wrapper{
    display: flex;
    width: 1000px;
    height: 100px;
}
.nav{
    background-color: green;
    height: 200px;
    width: 1000px;
}
.left-container{
    background-color: blue;
    width: 500px;
    height: 500px;
}
.right-container{
    background-color: red;
    width: 500px;
    height: 500px;
}

.usercard-container{
    background-color: white;
    height: 200px;
    width: 400px;
}
.usercard-top{
    background-color: teal;
    height: 50px;
}
.education-container{
    background-color: orange;
    height: 200px;
    width: 200px;
}
.request-container{
    background-color: purple;
    height: 200px;
    width: 200px;
}
.connection-container{
    background-color: aqua;
    height: 200px;
    width: 200px;
}