
.header-1{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.header-2{
    background-color: purple;
    color: white;
    text-align: center;
}

.header-3{
    background-color:rgb(124, 192, 245);
    text-align: right;
    text-decoration: underline;
}

.text-aqua{
    color: aqua;
}